extends ../shared/template

block content
  .row
    .small-4.columns
      h4= note.title
      p= note.body
      h4= note.createDate
      h4= note.tags

      form(action='/notes/' + note._id, method='post', enctype='multipart/form-data')
        input(type="hidden" name="_method" value="delete")
        button.alert.small.radius Delete



